.curripaz-panel .main_container {
    background: url(../img/img_background.png) white center center / cover;
}

.curripaz-panel .panels-flexible-region {
    background: white;
}

.curripaz-panel .section_container .section_content {
    min-height: 100%;
}

.curripaz-panel .main-banner .view-content {
    margin: 0 !important;
}

.curripaz-panel .main-menu {
    margin: 0 0 30px !important;
}

.curripaz-panel .main-menu .menu,
.curripaz-panel .main-menu .menu li {
    border-bottom-color: #f4bd54 !important;
}

.curripaz-panel .main-menu .menu li .active {
    color: #a4579d !important;
    font-weight: 500 !important;
    background: #f4bd54 !important;
}

.curripaz-panel #microsite_panel .slide .pane-content > .menu li.parent_menu:hover > .children_menu {
    height: auto;
}

.curripaz-panel .pane-title {
    margin: 0 !important;
    color: #a4579d !important;
    font-size: 24px !important;
    font-weight: 600 !important;
}

.curripaz-panel .curripaz-container .pane-title {
    margin-bottom: 30px !important;
}

.curripaz-panel .ranking-view .view .view-content > div {
    width: 100%;
    border: solid thin #A4579D;
    border-radius: 7px;
    min-height: 230px;
    height: auto;
    margin: 20px 0;
    padding: 15px;
    overflow: hidden;
}

.curripaz-panel .ranking-view .views-field.views-field-title,
.curripaz-panel .proposals-container .views-field.views-field-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px;
}

.curripaz-panel .proposals-container .views-field.views-field-title {
    min-height: 50px;
}

.curripaz-panel .ranking-view .views-field-field-imagen-de-la-propuesta,
.curripaz-panel .proposals-container .views-field-field-imagen-de-la-propuesta {
    margin: 0 0 20px;
    position: relative;
    display: block;
    height: 0;
    overflow: hidden;
}

.curripaz-panel .ranking-view .views-field-field-imagen-de-la-propuesta {
    padding: 0 0 20%;
}

.curripaz-panel .proposals-container .views-field-field-imagen-de-la-propuesta {
    padding: 0 0 35%;
}

.curripaz-panel .ranking-view .views-field-field-imagen-de-la-propuesta img,
.curripaz-panel .proposals-container .views-field-field-imagen-de-la-propuesta img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}

.curripaz-panel .ranking-view .views-field-field-descripcion-cpaz,
.curripaz-panel .proposals-container .views-field-field-descripcion-cpaz {
    margin: 0 0 20px;
    font-size: 13px;
    text-align: justify;
    min-height: 70px;
}

.curripaz-panel .ranking-view .views-field-field-calificacion-cpaz,
.curripaz-panel .ranking-view .views-field-php,
.curripaz-panel .proposals-container .views-field-field-calificacion-cpaz,
.curripaz-panel .proposals-container .views-field-php {
    width: 50%;
    float: left;
}

.curripaz-panel .ranking-view .views-field-php a,
.curripaz-panel .proposals-container .views-field-php a {
    color: #A4579D;
    text-decoration: underline;
    font-weight: 600;
    display: block;
    text-align: right;
}

.curripaz-panel .ranking-view .views-field-php a:hover,
.curripaz-panel .proposals-container .views-field-php a:hover {
    color: #50B0AF;
}

.curripaz-panel .quick-access-links {
    background: #7ac7be;
    padding: 1px 0;
}

.curripaz-panel .quick-access-links > div:not(:last-child) {
    height: 90px;
    margin: 15px;
}

.curripaz-panel .quick-access-links a {
    display: block;
    height: 100%;
    width: 100%;
}

.curripaz-panel .activa-link {
    background: url(../img/lg_activa_link_hands.gif) white no-repeat 0 100% / 35% auto;
}

.curripaz-panel .activa-link a {
    background: url(../img/lg_activa_link.gif) transparent no-repeat 90% center / 60% auto;
}

.curripaz-panel .send-proposal-link {
    background: url(../img/lg_send_proposal.png) #a4579d no-repeat 0 100% / 40% auto;
}

.curripaz-panel .proposal-link {
    background: url(../img/lg_proposal.png) #a4579d no-repeat 0 100% / 40% auto;
}

.curripaz-panel .unapproved-proposal-link {
    background: url(../img/lg_unapproved_proposal.png) #a4579d no-repeat 0 100% / 40% auto;
}

.curripaz-panel .send-proposal-link a,
.curripaz-panel .proposal-link a,
.curripaz-panel .unapproved-proposal-link a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    padding: 15px 15px 15px 36%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 1.2;
}

.curripaz-panel .download-files {
    margin: 15px;
}

.curripaz-panel .download-files h1 {
    color: white;
    font-size: 1.3em;
    font-weight: 400;
    padding: 0;
    margin: 25px 0px 10px;
}

.curripaz-panel .download-button {
    background: url(../img/ico_download_file.png) #A4579D no-repeat 95% center / 28px;
    margin: 5px 0;
}

.curripaz-panel .download-button a {
    color: white !important;
    padding: 15px 40px 15px 15px;
    text-align: left;
}

.curripaz-panel .view-filters {
    background: #f4bd54;
    border: none;
}

.curripaz-panel .view-filters label {
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.curripaz-panel .view-filters .views-exposed-widgets {
    height: auto;
}

.curripaz-panel .view-filters .views-exposed-widgets > *:not(:last-child) {
      width: 29.3%;
      margin: 1% 0 2% 3%;
}

.curripaz-panel .view-filters .views-exposed-widgets .views-exposed-widget .form-type-textfield input.form-text,
.curripaz-panel .view-filters .form-type-select select {
    background-color: white;
    width: 100%;
}

.curripaz-panel .view-filters .form-type-select select {
    color: #5b5b5f;
}

.curripaz-panel .view-filters .views-submit-button {
    margin: 0 3%;
}

.curripaz-panel .view-filters .views-submit-button .form-submit {
    background: url(../img/ico_search.png) #A4579D no-repeat 85% center / 20px;
    border-radius: 0;
    margin-bottom: 20px;
    width: 100px;
    text-align: left;
    padding: 0 40px 0 15px;
}

.curripaz-panel .view-filters .views-submit-button .form-submit:hover {
    background: url(../img/ico_search.png) #7f487a no-repeat 85% center / 20px;
    width: 100px;
    border-radius: 0;
    margin-bottom: 20px;
}

.curripaz-panel .view-filters .form-type-select,
.curripaz-panel .view-filters .form-type-textfield {
    margin: 0 !important;
}

.curripaz-panel .proposals-container {
    padding: 0 !important;
}

.curripaz-panel .proposals-container .view-content > * {
    width: 30.6%;
    float: left;
    margin: 15px 0 15px 2%;
    border: solid thin #A4579D;
    border-radius: 7px;
    padding: 1.4%;
}

@media (max-width: 767px) {
    .curripaz-panel .section_container.no_left_sidebar .section_content {
        width: 100% !important;
    }

    .curripaz-panel .activa-link {
        background: url(../img/lg_activa_link_hands.gif) white no-repeat 0 100% / auto 90%;
    }

    .curripaz-panel .activa-link a {
        background: url(../img/lg_activa_link.gif) transparent no-repeat 95% center / auto 75%;
    }

    .curripaz-panel .send-proposal-link {
        background: url(../img/lg_send_proposal.png) #a4579d no-repeat 0 100% / auto 100%;
    }

    .curripaz-panel .proposal-link {
        background: url(../img/lg_proposal.png) #a4579d no-repeat 0 100% / auto 100%;
    }

    .curripaz-panel .unapproved-proposal-link {
        background: url(../img/lg_unapproved_proposal.png) #a4579d no-repeat 0 100% / auto 100%;
    }

    .curripaz-panel .proposals-container .view-content > * {
        width: 80%;
        margin: 15px 0 0 10%;
    }

    .curripaz-panel .proposals-container .views-field.views-field-title {
        min-height: 100% !important;
    }

    .curripaz-panel .view-filters .views-submit-button .form-submit {
        background: url(../img/ico_search.png) #A4579D no-repeat 97% center / 20px;
    }

    .curripaz-panel .view-filters .views-submit-button .form-submit:hover {
        background: url(../img/ico_search.png) #7f487a no-repeat 97% center / 20px;
    }
}

@media (min-width: 851px) {
    .curripaz-panel .main-menu .pane-content > .menu {
        display: table;
        width: 100%;
        border: none !important;
    }

    .curripaz-panel .main-menu .pane-content > .menu > li {
        float: none !important;
        display: table-cell;
    }

    .curripaz-panel .main-menu .pane-content > .menu > li:not(:first-child) {
        border-left: 1px solid #f4bd54;
        border-radius: 20%;
    }

    .curripaz-panel .main-menu .menu > li a {
        padding: 15px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .curripaz-panel .quick-access-links > div:not(:last-child) {
      height: 9vw;
    }

    .curripaz-panel .send-proposal-link a,
    .curripaz-panel .proposal-link a,
    .curripaz-panel .unapproved-proposal-link a {
      padding: 0 4% 0 35%;
      align-items: center;
      font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .curripaz-panel .proposals-container .view-content > * {
        width: 47%;
    }

    .curripaz-panel .view-filters .views-submit-button {
        width: 100px;
        margin: 0 3%;
    }
}
