.curripaz-panel .main_container {
    background: url(../img/img_background.png) white center center / cover;
}

.curripaz-panel .panels-flexible-region {
    background: white;
}

.curripaz-panel .section_container .section_content {
    min-height: 100%;
}

.curripaz-panel .main-banner .view-content {
    margin: 0 !important;
}

.curripaz-panel .main-menu {
    margin: 0 0 30px !important;
}

.curripaz-panel .main-menu .menu,
.curripaz-panel .main-menu .menu li {
    border-bottom-color: #ffe900 !important;
}

.curripaz-panel .main-menu .menu li .active {
    color: #a4579d !important;
    font-weight: 500 !important;
    background: #f4bd54 !important;
}

.curripaz-panel #microsite_panel .slide .pane-content > .menu li.parent_menu:hover > .children_menu {
    height: auto;
}

@media (max-width: 767px) {
    .curripaz-panel .section_container.no_left_sidebar .section_content {
        width: 100% !important;
    }
}

@media (min-width: 851px) {
    .curripaz-panel .main-menu .pane-content > .menu {
        display: table;
        width: 100%;
        border: none !important;
    }

    .curripaz-panel .main-menu .pane-content > .menu > li {
        float: none !important;
        display: table-cell;
    }

    .curripaz-panel .main-menu .pane-content > .menu > li:not(:first-child) {
        border-left: 1px solid #f4bd54;
        border-radius: 20%;
    }

    .curripaz-panel .main-menu .menu > li a {
        padding: 15px !important;
    }
}
