.curripaz-panel .listaCurri, .curripaz-panel .listaCurri
{
    background-color: #7AC7BE;
    padding: 10px;
    color: white;
    width: 60%;
    margin: 10px auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.listaCurri ol li
{
    list-style-type: lower-alpha;
    margin-left: 40px;
}

.listaCurri ul li
{
    list-style-type: disc;
    margin-left: 40px;
}

.listaCurri li
{
    font-size: 1.1em;
    color: white;
}